[submodule "cpp/submodules/Catch"]
	path = cpp/submodules/Catch
	url = https://github.com/philsquared/Catch
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch
[submodule "check"]
	path = check
	url = https://github.com/libcheck/check
